@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flexCenter();
  background-color: lightblue;
  height: 100vh;
  color: $textColor;
  button {
    background-color: $primaryBtn;
    &::after {
      background-color: $secondaryColor;
      content: "hellooo";
    }
  }
}