$primaryBtn : rgb(202, 245, 11);

header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

header button {
  background-color: $primaryBtn;
}

.contact button {
  background-color: $primaryBtn;
}