$primaryBtn : rgb(250, 135, 154);
$textColor : rgb(43, 43, 43);

header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  button {
    background-color: $primaryBtn;
  }
}


.contact button {
  background-color: $primaryBtn;
}