$primaryBtn : rgb(250, 135, 154);
$secondaryColor : rgb(169, 135, 250);
$textColor : rgb(43, 43, 43);

header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  button {
    background-color: $primaryBtn;
    &::after {
      background-color: $secondaryColor;
      content: "hellooo";
    }
  }
}


.contact button {
  background-color: $primaryBtn;
}